<h1>Editing card</h1>

<%= render 'form' %>

<%= form_for @card, :html => {:multipart => true} do |f| %>

	<p>
	  <%= f.file_field :image %>
	</p>
	<p>
	  <%= f.label :remote_image_url, "or image URL" %><br />
	  <%= f.text_field :remote_image_url %>
	</p>
	<p><%= f.submit %></p>
<% end %>

<%= link_to 'Show', @card %> |
<%= link_to 'Back', cards_path %>
