<div class ="container-fluid">
  <div id="card_masonry" class="js-masonry"
  data-masonry-options='{ "itemSelector": ".card", "isFitWidth": true }'>
      <% @cards.each do |card| %> 
        <div class="card">
          <div class="card_image">
            <%= image_tag card.image_url(:thumb) %>
          </div>
          <div class="card_info">
            <%= card.title %>
            <%= card.start_date %>
            <li><a href="#">Buy Tickets</li>
          </div>
          <%= link_to 'Show', card %>
          <%= link_to 'Edit', edit_card_path(card) %>
          <%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
  </div>
</div>

  <br>
  

  <%= link_to 'New Card', new_card_path %>