<div class ="container-fluid">
  <div id="card_masonry" class="js-masonry"
  data-masonry-options='{ "itemSelector": ".card", "isFitWidth": true }'>
      <% @cards.each do |card| %> 
        <% if card.daysleft < 0 %>
          <div class="card">
            <%= link_to card do %>
              <div class="card_image">
                <%= image_tag card.image_url(:thumb) %>
                
              </div>
              <div class="card_info">
                <p class ="card_title">
                  <strong><%= card.title %></strong>
                </p>
                <p class="date_location">
                  <%= card.display_date %>
                  <%= card.location %>
                </p>
              </div>
            <% end %>
            <div class="countdown">
              <%= card.countdown %>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>

  <br>
  
<% if can? :manage, @card %>
  <%= link_to 'New Card', new_card_path %>
<% end %>