<div class ="container-fluid">
  <div id="card_masonry" class="js-masonry"
  data-masonry-options='{ "itemSelector": ".card", "isFitWidth": true }'>
      <% @cards.each do |card| %> 
        <div class="card">
          <div class="card_image">
            <%= link_to card do %>
              <%= image_tag card.image_url(:thumb) %>
            <% end %>
          </div>
          <div class="card_info">
            <p>
              <strong><%= card.title %></strong>
            </p>
            <p>
              <%= card.display_date %>
              <%= card.location %>
            </p>
            <p>
              <button type="button" class="btn btn-default"><%= link_to "Buy Tickets", card.website %></button>
            </p>
          </div>
        </div>
      <% end %>
  </div>
</div>

  <br>
  
<% if can? :manage, @card %>
  <%= link_to 'New Card', new_card_path %>
<% end %>