<div class="container-fluid card_show">
	<div class="row-fluid">
		<div class="col-xs-6 card_show_image img-responsive">
			<%= image_tag @card.image_url(:large_thumb), :class=>"img-responsive" %>
		</div>

		<div class="col-xs-6 card_show_text">
			<p>
			  <h1><%= @card.title %></h1>
			</p>

			<p>
			  <h2><%= @card.location %></h2>
			</p>

			<p>
			  <h3><%= @card.start_date %>
			  	<% if @card.end_date %>
			  		 - <%= @card.end_date %>
			  	<% end %></h3>
			</p>
			<p>
			  <strong><%= link_to "Buy Tickets", @card.website %> </strong>
			</p>

			<p>
			  <%= @card.details %>
			</p>
			<p>
				<% if can? :manage, @card %>
					<%= link_to 'Edit', edit_card_path(@card) %> | <%= link_to 'Delete', @card, :method => :delete, :confirm => "Are you sure?" %>
				<% end %>
			</p>
		</div>
	</div>
</div>

<%= link_to 'Back', cards_path %>

